{% extends "./layout.html" %}

{% block title %}
  Home Page
{% endblock %}

{% block content %} 
  <div class="container mt-3">
    <h1 class="text-center mb-4">My notes list</h1>
    <div class="d-flex justify-content-between align-items-center mb-4">
      <div>
        Filter by category:  
        <div class="btn-group" role="group" aria-label="Basic example">
          <a class="btn btn-outline-secondary" href="{% url 'home_page' %}" class="">All</a>
          <a class="btn btn-outline-secondary" href="{% url 'home_page' %}?category=home">Home</a>
          <a class="btn btn-outline-secondary" href="{% url 'home_page' %}?category=health">Health</a>
          <a class="btn btn-outline-secondary" href="{% url 'home_page' %}?category=work">Work</a>
        </div>
      </div>
      <form method="get" class="d-flex align-items-center">
        <input type="text" name="search" placeholder="Search by title..." class="form-control">
        <button type="submit" class="btn btn-dark ms-1">Search</button>
      </form>
    </div>
    
    {% if notes_list %}
      <div class="row row-cols-4 g-3">
      {% for note in notes_list %}
        <div class="col list">
          <a href="{% url 'one_note_page' note.id %}" class="p-4 align-items-start text-body card text-decoration-none">
            <h5 class="card-title">{{ note.title }}</h5>
            <p class="fs-6 mb-1">{{ note.description }}</p>
            <p class="text-secondary">Reminder: {{ note.reminder }}</p>
            <span class="badge text-bg-dark">{{ note.category }}</span>
          </a>
        </div>
      {% endfor %}
      </div>
    {% else %}
    <p>The list is empty...</p>
    {% endif %}
  </div> 
{% endblock %}
