<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note Page</title>
    {% load static %}

    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
  <div class="notes_container">
    <div>    
      <p class="notes_title">{{ note.title }}</p>
      <p class="notes_content">{{ note.description }}</p>
      <p class="notes_reminder">Reminder: {{ note.reminder }}</p>
      <p class="notes_category">{{ note.category }}</p>
            
      <a href="{% url 'delete_note_page' note.id %}">Delete</a> 
      <a href="{% url 'edit_note_page' note.id %}">Edit</a> 
    </div> 
  </div>
</body>
</html>